<!DOCTYPE html>
<html>
<head>
  <title> Thermostat </title>
  <script src="../jquery.js"></script>
  <link href = "/css/style.css" rel="stylesheet" type='text/css' >
</head>
<body id='body'>

  <div id='welcome'>
    <h1>Thermostat</h1>
  </div>

  <div id='container'>
    <div id='select-city'>
      <form  id='form'>
        <input id='city' type='text' placeholder="Select your city">
        <input id='submit' type='submit' value='Submit' >
      </form>
    </div>
    <div id='display'>
      <p>City: <span style="font-weight:bold;" id="city-name"></span></p>
      <p>Outside temperature: <span style="font-weight:bold;" id="weather"></span></p>
      <p>Thermostat temperature: <span style="font-weight:bold;" id='temperature'></span></p>
      <p id="powerSavingMode">Power Saving Mode is on</p>
      <p id="usage">Medium-usage</p>
    </div>

    <div id='buttons'>
      <input class='button' id="increase" type="button" name="increase"  value="Increase temperature">
      <input class='button' id="decrease" type='button' name="decrease"  value="Decrease temperature">
      <input class='button' id='reset' type='button' name='reset' value="Reset Temperature">
      <input class='button' id="powerSaveOn" type="button" name="powerSaveOn"  value="Power Saving Mode On">
      <input class='button' id="powerSaveOff" type="button" name="powerSaveOff" value="Power Saving Mode Off">
    </div>
  </div>

  <script src="../thermostat.js"></script>
  <script src="../interactive.js"></script>


</body>
</html>
